/* GENERIC */

* {
    box-sizing: border-box;
}

body {
    display: none;   /* hide content until page loaded */
    font-family: "Pixelify Sans", serif;
    font-size: 2.5dvw;
    color: #202020;
    background-color: #000000;
    margin: 0;
}

h1 {
    font-size: 1em;
    font-weight: 400;
    text-align: center;
}

p {
    font-size: 0.75em;
}

button {
    font-family: "Pixelify Sans", serif;
    font-size: 0.75em;
    color: #202020;
    border: none;
    border-radius: 80px;
    margin: 0 1em;
    padding: 0.5em 1em;
    width: 50%;
}

button:hover {
    background-color: #A0D3FF;
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
}

input {
    font-family: "Pixelify Sans", serif;
    font-size: 0.75em;
    color: #202020;
    border: none;
    border-radius: 80px;
    margin: 0.5em 0;
    padding: 0.5em 1em;
}

/* CUSTOM (ALPHABETICAL) */

#buttons {
    min-height: 12%;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}

#card {
    background-color: #FFDAC0;
    border: 5px solid #202020;
    border-radius: 40px;
    margin: 1em;
    padding: 1em;
}

#character {
    width: 17%;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translateX(-50%);
}

#dialogue_container {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 0 auto;
    padding: 0 20%;
    padding-bottom: 24%;
}

#heart {
    display: flex;
    justify-content: center;
}

#heart img {
    width: 2em;
}

.highlight {
    color: #C2181B;
}

#letter_button {
    width: 5em;
}

#letter_button:hover {
    cursor: pointer;
}

#mobile_view {
    display: none;
    height: 100dvh;
    padding: 0 1em;
    color: white;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#rotate_icon {
    height: 1em;
}

#scene_container {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100dvw;
    transform: translateY(-50%);
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#video-bg {
    width: 100%;
}

/* MOBILE */

@media (max-width: 480px) {
    body {
        font-size: 32px;
    }

    #mobile_view {
        display: flex;
    }

    #desktop_view {
        display: none;
    }
}
